name: 'wx-tuisong'
on:
  repository_dispatch:
    types: [wx-tuisong-begin]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: '指定python环境'
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: '安装python依赖'
      run: |
        python -m pip install --upgrade pip
        pip install requests
    - name: '发送消息'
      run: |
        python wx-weather/main.py
